$span: #ffc600;
$default: #595959;
$title: #fff;

%Roboto-700{
  font-family: 'Roboto-Bold';
  font-weight: 700;
}

%Roboto-500{
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

%Roboto-400{
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%Roboto-Italic-400{
  font-family: 'Roboto-Italic';
  font-weight: 400;
}
